<div class="flex flex-direction items-center my-8">
    {% form 'contact' %}
    {% endform %}
</div>

{% schema %}
    {
        "name": "Contact Form",
        "presets": [
            {
                "name": "Contact Form"
            }
        ]
    }
{% endschema %}